{
    "discord": {
        "token": ""
    },
    "twitch": {
        "username": "",
        "password": "",
        "channels": [ "jerma985" ]
    },
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": ""
    }
}